@media (max-width: 970px) {
  nav {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  nav a {
    display: block;
    gap: 20px;
  }

  .img {
    max-width: 220px;
    width: 100%;
  }
}

@media (max-width: 525px) {
  .btn button {
    font-size: 13px;
  }

  .btn a {
    font-size: 13px;
  }
}

@media (max-width: 525px) {
  .future {
    flex-direction: column-reverse;
  }
}

@media (max-width: 535px) {
  .img {
    max-width: 250px;
    width: 100%;
  }
}

@media (max-width: 535px) {
  .future-text {
    text-align: center;
  }

  .future-blok {
    display: flex;
    justify-content: center;
  }

  .btn {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .future {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 355px) {
  .future-text p {
    max-width: 400px;
  }
}

@media (max-width: 970px) {
  .logo-img img {
    max-width: 300px;
  }
}

@media (max-width: 527px) {
  .logo {
    display: flex;
    flex-direction: column-reverse;
  }
}

.logo button {
  display: flex;
  align-items: center;
  margin-inline: 100px;
  justify-content: center;
  margin-bottom: 50px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo {
  display: flex;
  text-align: center;
}

@media (max-width: 360px) {
  .future-text p {
    max-width: 400px;
  }
}
