* {
  margin: 0;
  padding: 0;
  font-family: Orbitron, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  display: none;
}

body {
  background-color: #010209;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.burger-menu {
  display: flex;
  align-items: center;
}

.burger-menu {
  display: none;
  color: #fff;
  font-size: 30px;
}

nav {
  display: flex;
  gap: 50px;
}

nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav a {
  color: #fff;
}

.p-header {
  color: #fff;
}

#future {
  padding-block: 100px;
}

#header {
  padding-block: 35px;
}

.future {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.future-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}

.btn {
  display: flex;
  gap: 10px;
  align-items: center;
}

.future-text {
  color: white;
}

.btn button {
  padding: 14px;
  text-align: center;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  font-size: clamp(0.813rem, 0.676rem + 0.68vw, 1.188rem);
}

.btn a {
  padding: 12px;
  text-align: center;
  height: 40px;
  border-radius: 4px;
  border: solid 1px;
  font-size: 16px;
  border: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  font-size: clamp(0.813rem, 0.676rem + 0.68vw, 1.075rem);
}

.future-blok {
  display: flex;
  gap: 10px;
}

.btn {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .text-know {
  position: absolute;
}

.img {
  position: relative;
  left: 100px;
  bottom: 85px;
  z-index: -1;
}

#know {
  margin-top: 25px;
}

.text-know {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.know-blok {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.know-blok button {
  padding: 10px;
  height: 40px;
  border-radius: 2px;
  border: none;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  color: white;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}

.know-blok p {
  max-width: 500px;
  color: white;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.145rem);
}

.know-blok h1 { */
  font-size: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
  color: white;
}
